{% extends 'base.html' %}

{% block content %}

	<br/>
	<h3>Busqueda de partidos por jugador</h3>
	<br/>
	<form id="formulario" method="post" action=''>{% csrf_token %}
		{{formulario}}
		<input type='submit' value='Realizar Busqueda'/>
    </form>
    
    <hr>
	
	{% if partidos %}
	
		<h4> Total de partidos convocado:  {{ partidos|length }}</h4>
		
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
		            <th>Partido</th>
		            <th>Fecha</th>
		            <th>Resultado</th>
		        </tr>
		    </thead>
			{% for row in partidos %}
			    <tbody>
			        <tr>
			            <td><a href='/partidos/partido/{{ row.id }}/{{ jugador.id }}'>{{ row.local }} - {{ row.visitante }}</a></td>
			            <td>{{ row.fecha }}</td>
			            <td>{{ row.resultado }}</td>
			        </tr>
		        </tbody>
			{% endfor %}
		</table>
		
	{% endif %}
	
	{% if partidos|length == 0 and request.POST %}
	
		<h4> Este jugador no ha sido convocado en ningun partido aun. Antonio enrollate </h4>
		
	{% endif %}
	
{% endblock %}